<h2><%= current_user.email %></h2>
<p>
<h3><%= @team.name %></h3>

<%# <% @my_players.each do |my_player| %>
<%#   <%= my_player.name %>
<%# <% end %>

<p>
<% @draftees.each do |draftee| %>
  <ul>
    <li>
    <%= draftee.name %>
    <%= draftee.passing_yards %>
    <%= draftee.passing_touchdowns %>
    <%= draftee.interceptions %>
    <%= draftee.rushing_yards %>
    <%= draftee.rushing_touchdowns %>
    <%= draftee.receptions %>
    <%= draftee.receiving_yards %>
    <%= draftee.receiving_touchdowns %>
    <%= draftee.points %>
    <%= button_to "Select Draftee", team_players_path(@team), method: :post %>
    </li>
  </ul>
<% end %>
